<div ng-controller="ListController" data-role="page" data-theme="c" id="list-user">
  <div data-role="header" data-theme="a">
    <!-- should invoke logout -->
    <a href="/" class="thumb">Logout</a>
    <h1>Tasks - Family</h1>
    <a href="/new" class="thumb" data-theme="b">New Task</a>
  </div><!-- /header -->

  <div data-role="content">
    <!-- debugging header -->
    <h1> FAMILY TASKS </h1>
    <!-- won't work for now because of angular-mobile compatibility. need to add | filter:searchTasks  -->
    <fieldset data-role="controlgroup">
      <ul data-filter="true" data-role="listview">
        <label ng-repeat="task in tasks | orderBy: 'title' | filter:searchTasks">
          <li>
          <input type="checkbox" name="task-id" ng-model="task.isCompleted" /> {{task.title}} <!--for debug-->({{task.assignee}})
          <a href="/edit/{{task.task_id}}">Edit</a>
          </li>
        </label>
      </ul>
    </fieldset>
  </div>

  <div data-role="footer" data-theme="a" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><a ng-click="createFamily()" href="#">Test Family Create</a></li>
        <li><button ng-click="resetAll()">RESET ALL</button></li>
        <li><a href="/userList" ng-click="getUserTasks()">User Tasks</a></li>
        <li><a href="/familyList" ng-click="getFamilyTasks()">Family Tasks</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->