<div ng-controller="ListController" ng-init="getFamilyTasks()" data-role="page" data-theme="c" id="list-user">
  <div data-role="header" data-theme="a">
    <!-- should invoke logout -->
    <a ng-click="logout()" class="thumb">Logout</a>
    <h1>Tasks - Family</h1>
    <a href="/new" class="thumb" data-theme="b">New Task</a>
  </div><!-- /header -->

  <div data-role="content">
    <!-- debugging header -->
    <h1> FAMILY TASKS </h1>
      <ul data-filter="true" data-role="listview" data-split-icon="gear" data-split-theme="d" data-inset="true">
        <li ng-repeat="task in tasks | orderBy: 'title' | filter:searchTasks">
          <a>
            <label>
              <input type="checkbox" name="task-id" ng-model="task.isCompleted" /> {{task.title}} <!--for debug-->({{task.assignee.email}})
            </label>
          </a>
          <a href="/{{task.id}}/edit">Edit</a>
        </li>
      </ul>

    <!-- old checkbox list -->
    <!--
    <fieldset data-role="controlgroup">
      <ul data-filter="true" data-role="listview">
        <label ng-repeat="task in tasks | orderBy: 'title' | filter:searchTasks">
          <li>
          <input type="checkbox" name="task-id" ng-model="task.isCompleted" /> {{task.title}} ({{task.assignee.email}})
          <a href="/{{task.id}}/edit">Edit</a>
          </li>
        </label>
      </ul>
    </fieldset>
    -->
  </div>

  <div data-role="footer" data-theme="a" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><a href="/userList">User Tasks</a></li>
        <li><a href="/familyList">Family Tasks</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->