<div ng-controller="FamilyController" data-role="page" data-theme="c" id="settings">
  <div data-role="header" data-theme="a">
    <h1>Invite To Family!</h1>
    <a class="thumb" data-rel="back">Back</a>
  </div><!-- /header -->

  <div data-role="content">
    <!-- for debug -->
    <h1> INVITE TO FAMILY </h1>
    <form name="invite" ng-submit="">
    <input type="text" name="username" id="invite-username" placeholder="Username" value="" ng-model="username" required>
  </div>

  <div data-role="footer" data-theme="a" data-position="fixed">
    <h2></h2>
  </div><!-- /footer -->
</div><!-- /page -->