<div ng-controller="FamilyController" data-role="page" data-theme="c" id="settings">
  <div data-role="header" data-theme="a">
    <h1>Settings</h1>
    <a class="thumb" data-rel="back">Back</a>
  </div><!-- /header -->

  <div data-role="content">
    <!-- for debug -->
    <h1> Settings </h1>
    <a href="/settings/invite" data-role="button">Invite To Family</a>
  </div>

  <div data-role="footer" data-theme="a" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><button ng-click="resetAll()">RESET ALL</button></li>
        <li><a href="/userList">User Tasks</a></li>
        <li><a href="/familyList">Family Tasks</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->