<div ng-controller="ListController" data-role="page" data-theme="c" id="list-user">
  <div data-role="header" data-theme="a">
    <a href="/list" class="thumb" data-rel="back">Back(fordebug)</a>
	 <a ng-click="createFamily()" href="#">Test Family Create</a>
    <h1>Tasks - User</h1>
  </div><!-- /header -->

  <div data-role="content">
    <!-- won't work for now because of angular-mobile compatibility. need to add | filter:searchTasks  -->
    <fieldset data-role="controlgroup">
      <ul data-filter="true" data-role="listview">
        <label ng-repeat="task in tasks | orderBy: 'title' | filter:searchTasks">
          <li>
          <input type="checkbox" name="task-id" ng-model="task.isCompleted" /> {{task.title}} <!--for debug-->({{task.assignee}})
          <a href="edit/{{task.task_id}}">Edit</a>
          </li>
        </label>
      </ul>
    </fieldset>
  </div>

  <div data-role="footer" data-theme="a" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><button ng-click="resetAll()">RESET ALL</button></li>
        <li><a href="#" ng-click="getUserTasks()">User Tasks</a></li>
        <li><a href="#" ng-click="getFamilyTasks()">Family Tasks</a></li>
        <li><a href="/new" data-icon="plus">Add Task</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->