<div ng-controller="InvitationsController" data-role="page" data-theme="c" id="list-user">
  <div data-role="header" data-theme="a" ng-controller="ListController">
    <!-- should invoke logout -->
    <a ng-list="logout()" class="thumb">Logout</a>
    <h1>Settings</h1>
  </div><!-- /header -->

  <div data-role="content">
	 	<fieldset data-role="controlgroup" ng-controller="AuthenticationController">
			<ul data-role="listview" data-inset="true">
				<li>
					<label>Reset Password:</label>
					<label for="password" style="display: none;">Password:</label>
					<input type="password" name="password" id="password" value="" autocomplete="off" placeholder="Old Password">
					<label for="password" style="display: none;">New Password:</label>
					<input type="password" name="password" id="new_password" value="" autocomplete="off" placeholder="New Password">
					<button data-theme="b">Update Password</button>
				</li>
			</ul>
		</fieldset>
	 	<fieldset data-role="controlgroup">
			<ul data-role="listview" data-inset="true">
				<li>
					<label>Invite Others:</label>
					<form>
					    <label for="emails" style="display: none;">Emails:</label>
					    <textarea cols="40" rows="25" name="emails" id="emails" placeholder="Comma separated list of emails" style="height: 120px;" ng-model="invite_emails"></textarea>
					</form>
					<button data-theme="b" ng-click="invite()">Invite Others</button>
				</li>
			</ul>
		</fieldset>
		
		<!-- This is the invites portion: probably should be refactored into the top of the page....but w/evs-->
		<form ng-controller="BaseController" ng-init="getInvites()">
			<ul data-role="listview" data-inset="true">
				<li data-role="fieldcontain" ng-repeat="invite in invites">
					<label for="acceptDenty">Invite from {{invite.asker.email}}</label>
					<fieldset class="ui-grid-a">
                  <div class="ui-block-a"><button ng-click="deny(invite.id, invite.family.id)" data-theme="d">Deny</button></div>
                  <div class="ui-block-b"><button ng-click="accept(invite.id, invite.family.id)" data-theme="a">Accept</button></div>
          </fieldset>
				</li>
			</ul>
		</form>
		 
	</div>

  <div data-role="footer" data-theme="a" data-position="fixed">
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><a href="/userList">User Tasks</a></li>
        <li><a href="/familyList">Family Tasks</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->